.creditdebit-container {
  display: flex;
}

@media (max-width: 575px) {
  .creditdebit-container {
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center;
    min-width: fit-content; */
  }
}

.loader {
  background-color: #fff;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 20px;
}
